/* You can add your custom css here.*/

.sd-title.sd-element__title {
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.receipt {
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace !important;
    font-size: 14px !important;
    padding: 10px 3px !important;
    background-color: white !important;
    white-space: pre;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-text-size-adjust: none;
}

.receiptcontainer {
    display: flex;
    justify-content: center;
}